
page-favourite{
	.toolbar-background-md, .toolbar-background-wp, .toolbar-background-ios {
	    border-color: #b2b2b2;
	    background: #689f38;
	}
	.bar-button-menutoggle-md ion-icon{
		color: #fff;
		font-weight: 600;
	}
	.bar-button-menutoggle-wp ion-icon{
		color: #fff;
		font-weight: 600;
	}
	.bar-button-menutoggle-ios ion-icon{
		color: #fff;
		font-weight: 600;
	}	
	.toolbar-title-md, .toolbar-title-wp, .toolbar-title-ios{
		color: #fff;
	}
}
.item-block{
	border-bottom: 1px solid #ccc;
}
.item-inner{
	border-bottom: 0px !important;
}
.item-button{
	display: none;
}
.menu-inner{
	background: #f1f1f1!important;
}
.menu-inner{
	.toolbar-background{
	    border-color: #b2b2b2;
	    background: #689f38;
	}
}
.scroll-content{
	background: #eee;
}
.list{
	.item{
		background: #eee;
	}
	.item-inner{
		.label{
			h2{
				color: #689f38;
				font-weight: bold;
			}
			p{
				font-style: italic;
				font-size: 13px;
			}
		}
	}
}